*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    outline:none;
    border:none;
    /*font:0.625rem normal arial;*/
    box-sizing: border-box;
}

.container{
    width:90%;
    /*border:1px solid #333;*/
    margin:25px auto;
    text-align: center;
}
.main-bg-flower{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    top:0;  }
.header{  position:relative;  }
.nav-bar-box{
    width:100%;
    position:relative;
    background:rgba(55,55,55,0.3);}
.nav-bar{
    width:80%;
    margin:20px auto;
    border-radius:5px;  }
.nav-bar li{
    display:inline-block;
    padding:10px 0;
    margin-left:4%;
    width:15%;
    text-align: center;
    border-top:5px solid transparent;  }
.nav-bar li:hover{
    border-top:5px solid #ff9933;  }
.nav-bar li a{
    font-size:20px;
    color:#fff;  }




.modal{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(51,153,255,0.5);
    display: none;
    z-index:5;
}
.modal-dialog{
    width:500px;
    height:800px; /**????***/
    margin:200px auto;
}
.modal-content{
    background:#ffe;
    padding:8px;
    border-radius:5px;
    height:300px;
}

.form-group {
    margin-bottom: 15px;
    overflow:hidden;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.col-md-2 {
    width: 25%;
}
.col-md-5 {
    width: 55%;
    margin-right:15px;
}
.col-md-2,.col-md-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

