/***页面头部主体信息**/
html,
body {
  background-color: #ffe !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  position: relative;
  height: 100%;
  width: 100%;
}
.header .bgWrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 1000px;
  background-image: url("../img/imgBg.jpg");
  background-size: cover;
}
.header .bgWrapper .nav-bar-box {
  background: transparent !important;
}
.header .bgWrapper .nav-bar-box:hover {
  background: rgba(255, 255, 255, 0.8) !important;
}
.header .bgWrapper .header-info-box:before {
  display: table;
  content: "";
}
.header .bgWrapper .header-info-box {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #ff9933;
}
.header .bgWrapper .header-info-box .slogan-box {
  margin: 3% 0 3% 0;
}
.header .bgWrapper .header-info-box .slogan-box .com-slogan {
  font-weight: 500;
}
.header .bgWrapper .header-info-box .slogan-box:before {
  display: table;
  content: "";
}
.header .bgWrapper .header-info-box .my-choice-container {
  overflow: hidden;
}
.header .bgWrapper .header-info-box .my-choice-container a {
  color: #ff9933 !important;
  font-weight: 600;
}
.header .bgWrapper .header-info-box .my-choice-container a:hover {
  text-decoration: none;
}
.header .bgWrapper .header-info-box .my-choice-container .my-choice-level {
  width: 80%;
}
.header .bgWrapper .header-info-box .my-choice-container .my-choice-level ul > li {
  padding: 6px;
  width: 100%;
}
.header .bgWrapper .explore-more {
  color: #fff;
  font-size: 20px;
  margin: 15px auto;
}
.header .bgWrapper .explore-more:hover {
  text-decoration: none;
}
@media all and (min-width: 992px) {
  .header-info-box {
    padding-bottom: 35px;
    margin-top: 300px;
  }
  .header-info-box .com-slogan {
    margin: 35px auto;
    font-size: 40px;
  }
  .header-info-box .my-choice-container a {
    font-size: 35px !important;
  }
  .header-info-box .my-choice-container .my-choice-level {
    padding: 20px;
    height: 200px;
  }
  .main-box .inner-container .img-container img {
    height: 300px;
  }
  .main-box .inner-container .inner-info-container {
    height: 300px;
  }
}
@media all and (max-width: 992px) {
  .header-info-box {
    padding-bottom: 25px;
    margin-top: 150px;
  }
  .header-info-box .com-slogan {
    margin: 25px auto;
    font-size: 30px;
  }
  .header-info-box .my-choice-container a {
    font-size: 28px !important;
  }
  .header-info-box .my-choice-container .my-choice-level {
    padding: 15px;
    height: 150px;
  }
  .main-box .inner-container .img-container img {
    height: 350px;
  }
  .main-box .inner-container .inner-info-container {
    height: 350px;
  }
}
@media all and (max-width: 768px) {
  .header-info-box {
    padding-bottom: 15px;
    margin-top: 100px;
  }
  .header-info-box .com-slogan {
    margin: 15px auto;
    font-size: 20px;
  }
  .header-info-box .my-choice-container a {
    font-size: 15px !important;
  }
  .header-info-box .my-choice-container .my-choice-level {
    padding: 10px;
    height: 100px;
  }
  .main-box .inner-container .img-container img {
    height: 200px;
    width: 100%;
  }
  .main-box .inner-container .inner-info-container {
    height: 200px;
  }
  .main-box .inner-container .inner-info-container .com-feature-title {
    font-size: 23px;
  }
  .main-box .inner-container .inner-info-container .com-feature-info {
    font-size: 18px;
  }
  .main-box .inner-container .inner-info-container .com-my-start {
    font-size: 22px;
  }
}
/*********
页面顶部主体信息
*********/
.main-box {
  position: relative;
  z-index: 1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 500px;
}
.main-box .inner-container {
  height: 100%;
}
.main-box .inner-container .img-container {
  background-color: #ff9933;
}
.main-box .inner-container .inner-info-container {
  background: #ffe;
  overflow: hidden;
  color: #ff9933 !important;
  margin: 0 auto;
}
.main-box .inner-container .inner-info-container .com-feature-title {
  margin-top: 50px;
  text-align: center;
}
.main-box .inner-container .inner-info-container .com-feature-info {
  margin-top: 15px;
  text-align: center;
}
.main-box .inner-container .inner-info-container .com-my-start {
  text-align: center;
  margin: 15px auto;
  cursor: pointer;
}
.main-box .inner-container .inner-info-container .com-my-start a {
  color: #ff9933;
  border: 1px solid #ff9933;
  padding: 5px 7px !important;
  border-radius: 10px !important;
}
.main-box .inner-container .inner-info-container .com-my-start a:hover {
  text-decoration: none;
}
@media (min-aspect-ratio: 16/9) {
  .bgWrapper {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bgWrapper {
    width: auto;
    height: 100%;
  }
}
/********
页面底部样式由于内容较少,写在header里面
********/
