
/***页面头部主体信息**/
html,body{
  background-color:#ffe !important;
}
.header{border:3px solid #fff;
  .videoBg{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-100;
  }
 .nav-bar-box{ background:transparent !important;  }
  .nav-bar-box:hover{ background:rgba(255,255,255,0.8) !important;}
  .header-info-box{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    background:rgba(255,255,255,0.8);
    border-radius:10px;
    color:#ff9933;
    //padding-bottom:35px;
    border:1px solid #aaa;
    .slogan-box{
      margin:3% 0 3% 0;
      border:1px solid #aaa;
      .com-slogan{  font-weight:800;  }
    }
    .slogan-box:before{  display: table;  content:"";  }
    .my-choice-container{
      overflow:hidden;
      border:1px solid #aaa;
      a{
        border:1px solid #aaa;
        color:#ff9933 !important;
        font-weight:600;
      }
      .my-choice-level{
        width:80%;
        border: 1px solid #aaa;
        ul>li{  padding:6px;  width:100%; }
      }
    }
  }
}

@media all and (min-width: 992px){
  .header-info-box{
    padding-bottom:35px;
    margin-top:300px;
    .com-slogan{  margin:35px auto;  font-size:40px;  }
    .my-choice-container{
      a{  font-size:35px !important;  }
      .my-choice-level{
        padding:20px;
        height:200px;
      }
    }
  }
  .main-box{
    .inner-container{
      .img-container{
        img{height:300px;}
      }
      .inner-info-container{
        height:300px;
      }
    }
  }
}

@media all and (max-width: 992px){
  .header-info-box{
    padding-bottom:25px;
    margin-top:150px;
    .com-slogan{
      margin:25px auto;
      font-size:30px;
    }
    .my-choice-container{
      a{  font-size:28px !important;  }
      .my-choice-level{  padding:15px;  height:150px;  }
    }
  }
  .main-box{
    .inner-container{
      .img-container{
        img{height:350px;}
      }
      .inner-info-container{
        height:300px;
      }
    }
  }
}
@media all and (max-width: 768px){
  .header-info-box{
    padding-bottom:15px;
    margin-top:100px;
    .com-slogan{
      margin:15px auto;
      font-size:20px;
    }
    .my-choice-container{
      a{ font-size:15px !important;  }
      .my-choice-level{
        padding:10px;
        height:100px;
      }
    }
  }
  .main-box{
    .inner-container{
      .img-container{
        img{height:200px;width:100%;}
      }
      .inner-info-container{
        height:200px;
        .com-feature-title{  font-size:23px;  }
        .com-feature-info{  font-size:18px;  }
        .com-my-start{padding:5px 7px; font-size:22px;}
      }
    }
  }
}


/*********
页面顶部主体信息
*********/

.main-box{
  position:relative;
  z-index:1;
  width:85%;
  margin-left:auto;
  margin-right:auto;
  margin-top:-300px;
  .inner-container{
    height:100%;
    .img-container{  background-color:#ff9933 }
    .inner-info-container{
      background:#ffe;
      overflow:hidden;
      color:#ff9933;
      margin:0 auto;
      .com-feature-title{  margin-top:50px; text-align: center;  }
      .com-feature-info{  margin-top:15px;text-align: center  }
      .com-my-start{
        text-align: center;
        margin:15px auto;
        cursor:pointer;
        a{  color:#ff9933;  padding:7px 12px;border:1px solid #ff9933;
            border-radius: 10px;  }
        a:hover{
          //color:#fff;
          text-decoration:none;
          //background: #ff9933;
        }
      }
    }
  }
}
@media (min-aspect-ratio: 16/9) {
  .videoBg{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .videoBg {
    width: auto;
    height: 100%;
  }
}


/********
页面底部信息
********/
footer{
  background-color:#ffe;
  width:100%;
  margin-top:40px;
  border-top:2px solid #ff9933;
  .footer-navbar{
    padding:15px;
    float:right;
    li{display:inline-block;
      a{padding:6px 8px; border-radius: 50%;
        background:#ff9933;color:#fff;
      }
      a:hover{text-decoration: none;
        border-radius: 20%;
        transition: border-radius 1s;
        -moz-transition: border-radius 1s;
        -webkit-transition: border-radius 1s;
        -o-transition: border-radius 1s;
      }
    }
  }
}




