body {
  background-color: #ffe;
  padding: 0;
}
main {
  margin-top: 80px;
  margin-bottom: 80px;
}
main .content {
  margin-top: 40px;
  padding: 20px 0;
  background: rgba(200, 200, 200, 0.5);
  overflow: hidden;
}
main .content .row {
  margin: 5px 30px;
}
main .control-default,
main .control-error,
main .control-success {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  text-align: left;
  border-radius: 4px;
}
main .control-default {
  background-color: #c8c8c8;
  border-radius: 4px;
  color: #ffffff;
}
main .control-error {
  background-color: #ff9933;
  color: #ffffff;
}
main .control-success {
  background-color: #24ca0c;
  color: #ffffff;
}
main [type="submit"] {
  background-color: #ff9933 !important;
  border: none;
}
main [type="submit"]:hover {
  background-color: #ff6633 !important;
}
