.main {
  background-color: #ffe;
}
.main .form {
  border: 1px solid #ddd;
}
.main .form .form-group {
  border: 1px solid #ddd;
}
.main .form .form-group .row {
  border: 1px solid #ddd;
}
.main .form .form-group .row .col-md-2 {
  border: 1px solid #ddd;
}
.main .form .form-group .row .col-md-5 {
  border: 1px solid #ddd;
}
.main .content {
  border: 1px solid #ddd;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: rgba(255, 255, 255, 0.8);
}
.main .content .control-default,
.main .content .control-error,
.main .content .control-success {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  text-align: left;
}
.main .content .control-default {
  background-color: #777;
  border-radius: 4px;
  color: #ffffff;
}
.main .content .control-error {
  background-color: #d9534f;
  color: #ffffff;
}
.main .content .control-success {
  background-color: #ff9933;
  color: #ffffff;
}
.main .content .control-default {
  background-color: #777;
  color: #ffffff;
}
